@model RegisterViewModel
@{
    ViewData["Title"] = "Tạo User";
}

<partial name="_StatusMessage" />

<div class="d-flex justify-content-center align-items-center">
    <div class="row w-lg-50">
        <div class="col-lg-12">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tạo Tài Khoản!</h1>
                </div>
                <form asp-controller="User" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="user">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control form-control-user" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control form-control-user" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input asp-for="Password" class="form-control form-control-user" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="ConfirmPassword" class="form-control form-control-user" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    _AdminSidebarService.SetActive("User", "Index", "Identity");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.RenderHtml())
}